:root {
  --navy-blue-color: #2e2f42;
  --slate-color: #434455;
  --white-color: #ffffff;
  --cloud-color: #f4f4fd;
  --cornflow-color: #e7e9fc;
  --ocean-color: #404bbf;
  --iris-color: #4d5ae5;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--slate-color);
  background-color: var(--white-color);
}
.list {
  list-style-type: none;
}
.header-container {
  border-width: 1px;
  border-style: solid;
  border-color: var(--cornflow-color);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris-color);
}
.link {
  text-decoration: none;
}
.highlight-studio-header {
  color: var(--navy-blue-color);
}
.highlight-studio-footer {
  color: var(--cloud-color);
}
.list-item {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue-color);
}
.list-item:hover,
.list-item:focus {
  color: var(--ocean-color);
}
.contact {
  font-style: normal;
}
.contact-list-item {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-color);
  text-decoration: none;
}
.contact-list-item:hover,
.contact-list-item:focus {
  color: var(--ocean-color);
}
.main-container {
  background-color: var(--navy-blue-color);
  text-align: center;
}
.main-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white-color);
}
.order-box {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
  background-color: var(--iris-color);
  cursor: pointer;
}
.order-box:hover,
.order-box:focus {
  background-color: var(--ocean-color);
}
.box {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--iris-color);
  background-color: var(--cloud-color);
  cursor: pointer;
}
.box:hover,
.box:focus {
  color: var(--white-color);
  background-color: var(--ocean-color);
}
.main-values-title {
  opacity: 0;
}
.values {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue-color);
}
.values-text {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-color);
}
.people-container {
  background-color: var(--cloud-color);
}
.team-title,
.task-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue-color);
}
.list-people-item {
  background-color: var(--white-color);
}
.name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue-color);
}
.job-position {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer-container {
  background-color: var(--navy-blue-color);
  color: var(--cloud-color);
}
.footer-text {
  line-height: 1.5;
  color: var(--cloud-color);
  letter-spacing: 0.02em;
}
.project-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue-color);
}
.project-type {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-color);
}
