*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
:root {
  --navy-blue-color: #2e2f42;
  --slate-color: #434455;
  --white-color: #ffffff;
  --cloud-color: #f4f4fd;
  --cornflow-color: #e7e9fc;
  --ocean-color: #404bbf;
  --iris-color: #4d5ae5;
  --light-slate-color: #8e8f99;
  --green-color: #31d0aa;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--slate-color);
  background-color: var(--white-color);
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.list {
  list-style-type: none;
}
.section {
  padding: 120px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* stylowanie NAGŁÓWKA */

.header {
  border-bottom: 1px solid var(--cornflow-color);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris-color);
}
.link {
  text-decoration: none;
  display: inline-block;
}
.highlight-studio-header {
  color: var(--navy-blue-color);
}
.highlight-studio-footer {
  color: var(--cloud-color);
}
.list-item {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue-color);
  padding: 24px 0;
}
.list-item:hover,
.list-item:focus {
  color: var(--ocean-color);
}
.contact {
  font-style: normal;
  padding: 24px 0;
}
.contact-flex {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.contact-list-item {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-color);
  text-decoration: none;
}
.contact-list-item:hover,
.contact-list-item:focus {
  color: var(--ocean-color);
}
.header-flex {
  display: flex;
  justify-content: space-between;
}
.nav-flex {
  display: flex;
  align-items: center;
}
.menu-flex {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.header-logo {
  margin-right: 76px;
}
/* stylowanie GŁÓWNEGO TYTUŁU */

.main-section {
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1440px;
  background-position: center;
  margin: auto;
}
.main-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  color: var(--white-color);
  margin-bottom: 48px;
  margin-left: 316px;
}
.order-box {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
  background-color: var(--iris-color);
  padding: 16px 32px 16px 32px;
  min-width: 169px;
  margin-left: 480px;
  border: none;
}
button {
  display: block;
  cursor: pointer;

  border-radius: 4px;
}
.order-box:hover,
.order-box:focus {
  background-color: var(--ocean-color);
}

/* stylowanie sekcji VALUES */

.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue-color);
  margin-bottom: 8px;
}
.values-text {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-color);
}
.values-flex {
  display: flex;
  gap: 24px;
}
.list-values-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
}
.icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cloud-color);
  height: 112px;
  margin-bottom: 8px;
  border-radius: 4px;
}
/* stylowanie sekcji TASKS */

.section-task {
  padding-top: 0px;
}
.task-title,
.customer-title {
  margin-bottom: 72px;
}
.task-flex,
.customer-flex,
.team-flex,
.icon-flex {
  display: flex;
  gap: 24px;
  justify-content: center;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* stylowanie sekcji PEOPLE */

.people-section {
  background-color: var(--cloud-color);
}
.team-title,
.task-title,
.customer-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue-color);
}
.team-title {
  margin-bottom: 72px;
}
.list-people-item {
  background-color: var(--white-color);
  justify-content: center;
  flex-basis: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
  border-color: var(--navy-blue-color);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.people-description {
  padding: 32px 0px;
  text-align: center;
}
.name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue-color);
  margin-bottom: 8px;
}
.job-position {
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.icon-flex {
  justify-content: space-between;
  padding: 0px 16px;
}
.list-people-icon-item {
  width: 40px;
  height: 40px;
}
.social-icon-link {
  width: 100%;
  height: 100%;
  background-color: var(--iris-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-icon {
  fill: var(--cloud-color);
}
.list-people-icon-item .social-icon-link:hover,
.list-people-icon-item .social-icon-link:focus {
  background-color: var(--ocean-color);
}
/* stylowanie STOPKI */

.footer {
  background-color: var(--navy-blue-color);
  padding: 100px 0px;
}
.footer-text {
  line-height: 1.5;
  color: var(--cloud-color);
  letter-spacing: 0.02em;
  max-width: 264px;
}
.footer-logo {
  margin-bottom: 16px;
}
.footer-div-flex {
  display: flex;
  align-items: baseline;
  gap: 120px;
}
.footer-logo-container {
  gap: 120px;
}
.footer-icon-flex {
  display: flex;
  gap: 16px;
}
.list-footer-icon-item {
  width: 40px;
  height: 40px;
}
.social-media-title {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--white-color);
  margin-bottom: 16px;
}
.list-footer-icon-item .social-icon-link:hover,
.list-footer-icon-item .social-icon-link:focus {
  background-color: var(--green-color);
}
/* stylowanie sekcji CUSTOMERS */

.company-list-item {
  flex-basis: calc((100% - 5 * 24px) / 6);
  height: 88px;
}
.company-link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--light-slate-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light-slate-color);
}
.company-icon {
  fill: currentColor;
}
.company-link:hover,
.company-icon:hover {
  border-color: var(--ocean-color);
  color: var(--ocean-color);
  fill: var(--ocean-color);
}
.company-link:focus {
  border-color: var(--ocean-color);
  color: var(--ocean-color);
  background-color: var(--ocean-color);
}
/* stylowanie sekcji PROJEKTY (strona portfolio) */

.project-type {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-color);
}
.box {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--iris-color);
  background-color: var(--cloud-color);
  padding: 12px 24px 12px 24px;
  border: 1px solid var(--cornflow-color);
}

.box:hover,
.box:focus {
  color: var(--white-color);
  background-color: var(--ocean-color);
  border: 1px solid transparent;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.list-buttons {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.apps-flex {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.apps-description {
  padding: 32px 16px;
  border: 1px solid var(--cornflow-color);
  border-top: none;
}
.apps-item {
  width: calc((100%-48px) / 0.3);
}
.apps-link {
  display: block;
}

.portfolio-section {
  padding: 96px 0 120px 0;
}
.apps-link:hover,
.apps-link:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
